@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
	:root {
		/* Browser area before a page starts loading */
		--gnome-browser-before-load-background: #1D2021;

		/* Toolbars */
		--gnome-toolbar-background: #1D2021;
		--gnome-toolbar-color: #FBF1C7;
		--gnome-toolbar-border-color: #1D2021;
		--gnome-toolbar-icon-fill: #FBF1C7;
		--gnome-inactive-toolbar-color: #FBF1C7;
		--gnome-inactive-toolbar-background: #1D2021;
		--gnome-inactive-toolbar-border-color: #1D2021;
		--gnome-inactive-toolbar-icon-fill: #FBF1C7;

		/* Sidebar */
		--gnome-sidebar-background: #79937A;
		--gnome-inactive-sidebar-background: #79937A;

		/* Popups */
		--gnome-menu-background: #1D2021;
		--gnome-menu-border-color: #1D2021;
		--gnome-popover-background: #1D2021;
		--gnome-popover-border-color: #1D2021;
		--gnome-popover-shadow: 0 1px 2px #1D2021;
		--gnome-popover-button-hover-background: #282828;
		--gnome-popover-separator-color: #1D2021;

		/* Header bar */
		--gnome-headerbar-background: linear-gradient(to top, #1D2021, #1D2021);
		--gnome-headerbar-border-color: #1D2021;
		--gnome-headerbar-box-shadow: inset 0 1px #1D2021;
		--gnome-inactive-headerbar-background: linear-gradient(#1D2021, #1D2021);
		--gnome-inactive-headerbar-border-color: #1D2021;
		--gnome-inactive-headerbar-box-shadow: inset 0 1px #1D2021;

		/* Buttons */
		--gnome-button-background: linear-gradient(to top, #1D2021 2px, #1D2021);
		--gnome-button-border-color: #1D2021;
		--gnome-button-border-accent-color: #1D2021;
		--gnome-button-box-shadow: inset 0 1px #1D2021, 0 1px 2px #1D2021;
		--gnome-button-hover-background: #79937A;
		--gnome-button-active-background: linear-gradient(#1D2021, #1D2021);
		--gnome-button-active-border-color: #1D2021;
		--gnome-button-active-border-accent-color: #1D2021;
		--gnome-button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-button-disabled-background: #1D2021;
		--gnome-button-disabled-border-color: #1D2021;
		--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-inactive-button-background: linear-gradient(#1D2021, #1D2021);
		--gnome-inactive-button-border-color: #1D2021;
		--gnome-inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-button-suggested-action-background: linear-gradient(to top, #79937A 2px, #79937A);
		--gnome-button-suggested-action-border-color: #79937A;
		--gnome-button-suggested-action-border-accent-color: #004b3d;
		--gnome-button-suggested-action-box-shadow: inset 0 1px #1D2021, 0 1px 2px #1D2021;
		--gnome-button-suggested-action-hover-background: linear-gradient(to top, #79937A, #79937A 1px);
		--gnome-button-suggested-action-active-background: #79937A;
		--gnome-button-suggested-action-active-border-color: rgb(13, 109, 90);
		--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-button-destructive-action-background: linear-gradient(to top, #B83B3B 2px, #B83B3B);
		--gnome-button-destructive-action-border-color: #B83B3B;
		--gnome-button-destructive-action-border-accent-color: #570b0e;
		--gnome-button-destructive-action-box-shadow: inset 0 1px #B83B3B, 0 1px 2px #B83B3B;
		--gnome-button-destructive-action-hover-background: linear-gradient(to top, #B83B3B, #B83B3B 1px);
		--gnome-button-destructive-action-active-background: #B83B3B;
		--gnome-button-destructive-action-active-border-color: #B83B3B;
		--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

		/* Entries */
		--gnome-entry-background: linear-gradient(#1D2021, #1D2021);
		--gnome-entry-border-color: #1D2021;
		--gnome-entry-box-shadow: inset 0 0 0 1px rgba(21, 83, 158, 0);
		--gnome-entry-color: #FBF1C7;
		--gnome-inactive-entry-background: linear-gradient(#1D2021, #1D2021);
		--gnome-inactive-entry-border-color: #1D2021;
		--gnome-inactive-entry-box-shadow: none;
		--gnome-inactive-entry-color: #FBF1C7;
		--gnome-focused-urlbar-border-color: #79937A;

		/* Switch */
		--gnome-switch-background: #1D2021;
		--gnome-switch-border-color: #1D2021;
		--gnome-switch-slider-background: linear-gradient(to bottom, #1D2021 20%, #1D2021 90%);
		--gnome-switch-slider-border-color: #111111;
		--gnome-switch-slider-box-shadow: inset 0 1px #1D2021, 0 1px #1D2021, 0 1px 2px #1D2021;
		--gnome-switch-active-background: #79937A;
		--gnome-switch-active-border-color: #030c17;
		--gnome-switch-active-slider-border-color: #030c17;

		/* Tabs */
		--gnome-tabbar-tab-color: #FBF1C7;
		--gnome-tabbar-tab-background: #1D2021;
		--gnome-tabbar-tab-border-color: #79937A;
		--gnome-tabbar-tab-hover-background: #282828;
		--gnome-tabbar-tab-hover-border-bottom-color: #1D2021;
		--gnome-tabbar-tab-hover-color: rgba(121, 147, 122, 1);
		--gnome-tabbar-tab-active-background: rgba(121, 147, 122, 0.08);
		--gnome-tabbar-tab-active-background-contrast: #79937A;
		--gnome-tabbar-tab-active-border-bottom-color: #79937A;
		--gnome-tabbar-tab-active-border-bottom-color-contrast: #79937A;
		--gnome-tabbar-tab-active-color: #FBF1C7;
		--gnome-tabbar-tab-active-hover-background: #282828;
		--gnome-inactive-tabbar-tab-color: #FBF1C7;
		--gnome-inactive-tabbar-tab-background: #1D2021;
		--gnome-inactive-tabbar-tab-active-background: #1D2021;
		--gnome-inactive-tabbar-tab-active-border-bottom-color: #79937A;
		--gnome-inactive-tabbar-tab-active-color: #FBF1C7;
	}

	/* Private window colors */
	:root {
		/* Header bar */
		--gnome-private-headerbar-background: linear-gradient(to top, rgb(81, 44, 109), rgb(86, 47, 116));
		--gnome-private-headerbar-border-color: rgb(49, 27, 66);
		--gnome-private-headerbar-box-shadow: 0 1px rgba(255, 255, 255, .07) inset;
		--gnome-private-inactive-headerbar-background: #613583;
		--gnome-private-inactive-headerbar-border-color: rgb(77, 41, 102);
		--gnome-private-inactive-headerbar-box-shadow: var(--gnome-private-headerbar-box-shadow);

		/* Buttons */
		--gnome-private-button-background: linear-gradient(to top, rgb(94, 52, 127) 2px, rgb(97, 53, 131));
		--gnome-private-button-border-color: rgb(70, 38, 95);
		--gnome-private-button-border-accent-color: rgb(49, 27, 66);
		--gnome-private-button-box-shadow: 0 1px rgba(255, 255, 255, .02) inset, 0 1px 2px rgba(0, 0, 0, .07);
		--gnome-private-button-hover-background: linear-gradient(to top, rgb(94, 52, 127), rgb(100, 54, 135) 1px);
		--gnome-private-button-active-background: rgb(73, 40, 98);
		--gnome-private-button-active-border-color: rgb(62, 34, 84);
		--gnome-private-button-active-border-accent-color: rgb(49, 27, 66);
		--gnome-private-button-active-box-shadow: 0 1px rgba(255, 255, 255, 0) inset;
		--gnome-private-button-disabled-background: #613583;
		--gnome-private-button-disabled-border-color: rgb(74, 41, 102);
		--gnome-private-button-disabled-box-shadow:  0 1px rgba(255, 255, 255, 0) inset;
		--gnome-private-inactive-button-background: #613583;
		--gnome-private-inactive-button-border-color: rgb(74, 41, 102);
		--gnome-private-inactive-button-box-shadow:  0 1px rgba(255, 255, 255, 0) inset;

		/* Entries */
		--gnome-private-entry-border-color: #1D2021;
		--gnome-private-focused-urlbar-border-color: rgb(158, 70, 224);

		/* Tabs */
		--gnome-private-tabbar-tab-active-border-bottom-color: rgb(158, 70, 224);
	}
}
